@{
    ViewBag.Title = "Home";
}

    <!--=========== BEGIN SLIDER SECTION ================-->
<section id="sliderArea">
    <!-- Start slider wrapper -->
    @Html.Partial("~/Views/Home/Index/_slider.cshtml")
<!-- /top-slider -->
</section>
<!--=========== END SLIDER SECTION ================-->
<!--=========== BEGIN Top Feature SECTION ================-->
<!--<section id="topFeature">
    /*Html.Partial("~/Views/Home/Index/_features.cshtml")*/
</section>-->
<!--=========== END Top Feature SECTION ================-->
<!--=========== BEGIN Service SECTION ================-->
<section id="service">
    @Html.Partial("~/Views/Home/Index/_services.cshtml")
</section>
<!--=========== End Service SECTION ================-->
<!--=========== BEGAIN Why Choose Us SECTION ================-->
<!--<section id="whychooseSection">
    /*Html.Partial("~/Views/Home/Index/_chooseus.cshtml")*/
</section>-->
<!--=========== END Why Choose Us SECTION ================-->
<!--=========== BEGIN Counter SECTION ================-->
<!--<section id="counterSection">
    /*Html.Partial("~/Views/Home/Index/_counters.cshtml")*/
</section>-->
<!--=========== End Counter SECTION ================-->
<!--=========== BEGIN Committe SECTION ================-->
<section id="meetCommitte">
    @Html.Partial("~/Views/Home/Index/_meetcommitte.cshtml")
</section>
<!--=========== End Committe SECTION ================-->
<!--=========== BEGIN Directors SECTION ================-->
<section id="meetCommitte">
    @Html.Partial("~/Views/Home/Index/_meetdirectors.cshtml")
</section>
<!--=========== End Directors SECTION ================-->
<!--=========== BEGIN Doctors SECTION ================-->
<section id="meetCommitte">
    @Html.Partial("~/Views/Home/Index/_meetdoctors.cshtml")
</section>
<!--=========== End Doctors SECTION ================-->
<!--=========== BEGIN Researches SECTION ================-->
<section id="homeBLog">
    @Html.Partial("~/Views/Home/Index/_researches.cshtml")
</section>
<!--=========== End Researches SECTION ================-->
